
/* page guest */
.background-page-guest{
  background-image: url('/img//login.jpg'); 
  background-size: cover; 
  background-position: top center;
  align-items: center;
}
.title-guest-nav{
    padding-left: 10px;
    color: white; 
}

.title-guest-nav:hover, .title-guest:focus {
    color: #f9d730;
    text-decoration: none;
}

.hr-guest{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.lineUp {
    animation: 3s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

/* fin page guest */


/* style page Auth */
/* nav */
.nav-fostrap {
    display: block;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px 0;
    /* background: #03A9F4; */
    background-blend-mode: multiply;
    background-image: url('/img/fondo_nav.png'),linear-gradient(173deg,#003770 90%,#e30613 90%)!important;
  }
  
  .nav-fostrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0.3rem 1rem; 
    display: block;
    box-shadow: 0 2px 4px 0 rgb(15 15 15 / 50%);
  }
  
  .nav-fostrap li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .nav-fostrap li a {
    padding: 15px 10px;
    font-size: 12px;
    color: white;
    display: inline-block;
    outline: 0;
    font-weight: 400;
  }

  .nav-fostrap li:hover a {
    background: #19509a;
    color: #fff !important;
  }
  
  .nav-fostrap li:hover ul.dropdown-default { display: block; }
  
  .nav-fostrap li ul.dropdown-default {
    position: absolute;
    display: none;
    /* width: 200px; */
    background: #19509a;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    padding-top: 0;
    border-radius: 2px;
  }

  .nav-fostrap li ul{
    padding-left: 9px;
    padding-right: 9px;
  }

  .nav-fostrap li ul.dropdown-default li {
    display: block;
    list-style-type: none;
  }
  
  .nav-fostrap li ul.dropdown-default li a {
    padding: 6px 6px;
    font-size: 12px;
    color: #fff;
    display: block;
  }
  
  .nav-fostrap li ul.dropdown-default li:last-child a { border-bottom: none; }
  
  .nav-fostrap li:first-child:hover a { border-radius: 3px 0 0 3px; }
  
  .nav-fostrap li ul.dropdown-default li:hover a { 
      background: rgba(173, 171, 194, 0.7); 
      border-radius: 2px;
    }
  
  .nav-fostrap li ul.dropdown-default li:first-child:hover a { border-radius: 0; }
  
  .nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }
  
  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #def1f0;
    position: relative;
    top: 15px;
    right: -5px;
    content: '';
  }
  .title-mobile {
    display: none;
  }
   @media only screen and (max-width:991px) {
  
  .nav-fostrap {
    background: #fff;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: initial;
    height: 100%;
  }
  .title-mobile {
    position: fixed;
    display: block;
      top: 10px;
      font-size: 20px;
      left: 100px;
      right: 100px;
      text-align: center;
      color: #FFF;
  }
  .nav-fostrap.visible {
    left: 0px;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
    -o-transition: left 0.25s ease;
    transition: left 0.25s ease;
    z-index: 1;
  }
  
  .nav-bg-fostrap {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 60px;
    margin: 0;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    padding: 0.3rem 2rem; 
    background-blend-mode: multiply;
    background-image: url('/img/fondo_nav.png'),linear-gradient(173deg,#003770 90%,#e30613 90%)!important;

  }
  
  .navbar-fostrap {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      padding: 12px;
  }
  
  .navbar-fostrap span {
    height: 2px;
    background: #fff;
    margin: 5px;
    display: block;
    width: 20px;
  }
  
  .navbar-fostrap span:nth-child(2) { width: 20px; }
  
  .navbar-fostrap span:nth-child(3) { width: 20px; }
  
  .nav-fostrap ul { padding-top: 50px; }
  
  .nav-fostrap li { display: block; }
  
  .nav-fostrap li a {
    display: block;
    font-weight: 400;
  }
  
  .nav-fostrap li:first-child:hover a { border-radius: 0; }
  
  .nav-fostrap li ul.dropdown-default { position: relative; }
  
  .nav-fostrap li ul.dropdown-default li a {
    background: #19509a !important;
    border-bottom: none;
    color: #fff !important;
  }
  
  .nav-fostrap li:hover a {
    background: #19509a;
    color: #fff !important;
  }
  
  .nav-fostrap li ul.dropdown-default li:hover a {
    background: rgba(173, 171, 194, 0.7)!important; 
  }
  
  .nav-fostrap li ul.dropdown-default li a { padding: 10px 10px 10px 30px; }
  
  .nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }
  
  .arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
  }
  

  .cover-bg {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }
  }
   @media only screen and (max-width:1199px) {
  
  .container { width: 96%; }
  }
  


/* footer */
.copyright{
    background-color: #c70511;
    color: white;
    text-align: center;
}

.navbar-auth{
    background-blend-mode: multiply;
    background-image: url('/img/fondo_nav.png'),linear-gradient(173deg,#003770 90%,#e30613 90%)!important;
}
/* fin  style page Auth */






/* general modifie style material */

/* cards */
.card-header-blue {
    /* background: linear-gradient(60deg, #3f51b5, #051153) !important; */
    background: linear-gradient(1deg, #003770, #030613) !important;
    box-shadow: 0 0 10px #b0adad;
}

.form-control:invalid {
    background-image: linear-gradient(to top, #2196f3 2px, rgba(244, 67, 54, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
  }

.card-header{
  z-index: 0 !important;
}

/* tables */

.table-small thead tr th {
  font-size: 0.9rem !important; 
}

.table-small td{
  padding: 6px 5px;
}
.table-small th{
  padding: 6px 5px;
  background-color: #b8daff;
  border: 1px solid #000;
  text-align: center;
}


.form-control:focus {
  background-color: #b8ecf34d !important;
}
.form-check, label {
  color: #141111 !important;
}

.form-blue input{
  background-color: #dee2e466;
}

.form-group select{
  background-color: #dee2e466;
}

.form-group textarea{
  background-color: #dee2e466;
}

.form-blue input:focus {
  background-color: #8dd9ff75 !important;
}


.table .table-small td{
  padding: 5px 8px;
  vertical-align: middle;
  border-color: #ddd;
}

.no-padding{
  padding: 0px 8px !important;
}

